h3 {
   color: brown;
}

img {
   width: 100%;
   height: auto;
}

.photos {
   text-align: center;
   border-left-style: dotted;
   border-right-style: dotted;
}
img#sam {
   width: 1%;
   height: auto;
}